<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="usePinSearch" value="false" />
    <add key="date" value="15-05-2021,16-05-2021" />
    <add key="interval" value="15000" />
    <add key="min_age_limit" value="45" />
    <add key="pins" value="411027,411057" />
    <add key="personCount" value="3" />
    <add key="baseUrl" value="https://cdn-api.co-vin.in/api/" />
    <add key="getSessionsForPuneUrlBase" value="v2/appointment/sessions/public/findByDistrict?district_id=363" />
    <add key="getSessionsByPinUrl" value="v2/appointment/sessions/public/findByPin" />
    <add key="scheduleAPIUrl" value="appointment/schedule" />
    <add key="beneficiaries" value="'29425896407850','49452312943680','18714828173000'" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>